<!doctype html> 
 <html lang="en"> 
   <head> 
    <title>Lunch Checker</title> 
     <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <script src="./angular.min.js"></script>
    <style>
    .message { font-size: 1.3em; font-weight: bold; } 
     </style> 
    <link href="./bootstrap.min.css"  rel="stylesheet">
          
   </head> 

 <body ng-app="LunchCheck">
   <div class="container">
     <div ng-controller="LunchCheckController"> 
        <div class="form-group">
            <h1>Lunch Checker</h1> 
 

           <input type="text" id="lunch-menu" placeholder="list-seperated commas" ng-model="user.message"><br>        </div>
  
    <div class="form-group">
<button ng-click="check()">Check If Too Much</button>

    </div>
    <div class="form-group message" >
        <p>{{user}}</p>
    
    
    </div>
    
    
    </div>
 
</div>
  



<script>
!function(){"use strict";function e(e){e.user={message:""},e.check=function(){var s=e.user.message.split(",");""==s?e.user.message="Please enter data first":s.length>3?e.user.message="That's too much":s.length<=3&&(e.user.message="Enjoy")},e.check()}angular.module("LunchCheck",[]).controller("LunchCheckController",["$scope",e])}();
  </script>
 </body> 
 </html> 

  





