<!doctype html> 
 <html lang="en"> 
   <head> 
    <title>Lunch Checker</title> 
     <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <script src="./angular.min.js"></script>
    <style>
    .message { font-size: 1.3em; font-weight: bold; } 
     </style> 
    <link href="./bootstrap.min.css"  rel="stylesheet">
          
   </head> 

 <body ng-app="LunchCheck">
   <div class="container">
     <div ng-controller="LunchCheckController"> 
        <div class="form-group">
            <h1>Lunch Checker</h1> 
 

           <input type="text" id="lunch-menu" ng-model="dish" placeholder="list-seperated commas" ><br>        </div>
  
    <div class="form-group">
<button ng-click="check()">Check If Too Much</button>

    </div>
    <div  class="form-group message" >
        <p>{{msg}}</p>
    
    
    </div>
    
    
    </div>
 
</div>
  



<script>
!function(){"use strict";function s(s){s.dish="",s.msg="",s.check=function(){if(""!=s.dish){var n=s.dish.split(",");n.length>3?s.msg="That's Too Much!":s.msg="Enjoy!"}else s.msg="Please Enter data first"}}angular.module("assignment1",[]).controller("LunchCheckController",["$scope",s])}();
  </script>
 </body> 
 </html> 

  





